@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0%;
    display: grid;  
    grid-template-columns: 15vw 85vw;
}

.sidebar{
    background-color: #0c86be;
    height: 100vh;
    display: grid;  
    grid-template-rows: 10vh 40vh 50%;
}

.logotitle{
    padding-left: 3%;
    display: grid;
    grid-template-columns: 6vh 80vh;
    align-items: center;
    font-size: larger;
    color: white;
    font-weight: bold;
    font-family: Roboto;
}

#logo{
    max-height: 5vh;
    margin-right: 15%;
}

.sixmainthings{
    display: grid;
    grid-row: inherit;
    padding-top: 1%;
    margin-bottom: 10%;
}

.mainthing{
    display: grid;
    grid-template-columns: 5vh 70vh;
    align-items: center;
    padding-left: 4.5%;
    color: white;
    font-weight: bold;
    font-family: Roboto;
    font-size: 90%;
}


#icon{
    max-height: 2.5vh;
}

.clock{
    max-width: 1.25vw;
}

.threesecondthings{
    display: grid;  
    grid-row: inherit;
    padding-bottom: 40%;
}

.secondthing{
    display: grid;
    grid-template-columns: 5vh 70vh;
    align-items: center;
    padding-left: 4.5%;
    color: white;
    font-weight: bold;
    font-family: Roboto;
    font-size: 90%;
}

.luckyblock{
    max-width: 1.25vw;
}


.header{
    background-color: white;
    min-height: 15vh;
    display: grid;
    grid-template-rows: 7.5vh 7.5vh;
}

.upperheader{
    display: grid;
    grid-template-columns: 5vw 31vw 17vw 17vw 17vw;
    padding-top: 2vh;
}

#search{
    padding-left: 3vw;
}

#searchbar{
    max-height: 3vh;
    min-width: 40vw;
    border-radius: 120px;
    border-width: 0px;
    background-color: rgb(225, 225, 225);
    margin-left: 3%;
}

#notifications{
    padding-left: 150%;
    padding-top: 1%;
}

#upperavatar{
    padding-left: 75%;
    max-height: 4.5vh;
}

.username{
    font-family: Roboto;
    padding-top: 3%;
    font-weight: bold;
}

.lowerheader{
    display: grid;
    grid-template-columns: 7vw 50vw 30vw;
}

#loweravatar{
    max-height: 7vh;
    padding-left: 3vw;
}

.hithere{
    font-family: Roboto;
    font-size: 65%;
    font-weight: bold;
    padding-top: 1.5%;
}

.bigusername{
    font-family: Roboto;
    font-weight: bold;
}

button{
    max-width: 7vw;
    max-height: 4vh;
    background-color: #0c86be;
    color: white;
    border-width: 0px;
    border-radius: 120px;
    margin-top: 1.5vh;
} 

.buttons{
    display: grid;
    grid-template-columns: 7vw 7vw 7vw;
    column-gap: 10px;
}


.maincontent{
    display: grid;
    grid-template-columns: 62.5vw 22.5vw;
    grid-template-rows: 85vh;  
    min-height: 85vh;
    max-height: 85vh;
}

.mainleft{
    font-family: Roboto;
    font-weight: bold;
    font-size: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 0.01vh 1vh;
}

.titleleft{
    padding-left: 5%;
    padding-top: 2%;
}

.projects{
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 31.25vw 31.25vw;
    grid-template-rows: 27.4vh 27.4vh 27.4vh;
    row-gap: 0px;
}

.project{
    border-left : solid rgb(255, 167, 60);
    border-width: 10px;
    margin: 10%;
    padding: 5%;
    background-color: white;
    box-shadow: 5px 5px 5px -2px rgba(153,153,153,1);
    font-family: Roboto;
    font-weight: bold;
    font-size: 80%;
    min-height: 13vh;
    border-radius: 10px;
}

#project{
    font-size: 100%;
}

#fork{
    max-width: 3vh;
}

.projecticons{
    padding-left: 75%;
}

.mainright{
    display: grid;
    grid-template-rows: 45vh 40vh;
    background-color: whitesmoke;
}

.announcementpart{
    font-family: Roboto;
    padding-left: 7%;
    padding-top: 7%;
    font-weight: bold;
    display: grid;
    grid-template-rows: min-content;
    row-gap: 2%
}

.trendingpart{
    font-family: Roboto;
    padding-left: 7%;
    padding-top: 7%;
    font-weight: bold;
    display: grid;
    grid-template-rows: min-content;
    row-gap: 2%;
}

.announcement{
    display: grid;
    background-color: white;
    max-width: 17.5vw;
    border-radius: 5%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px -2px rgba(153,153,153,1);
}

.ann{
    color: black;
    max-height: 10vh;
    font-weight: bold;
    font-size: 80%;
    padding-left: 15%; 
    padding-right: 10%; 
}

.firstann{
    padding-top: 8%;
}

.secondann{
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: lightgrey transparent lightgray transparent;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 4%;
    margin-top: 2.5%;
    padding-top: 2.5%;
    margin-bottom: 2.5%;
    padding-bottom: 2.5%;
}

.thirdann{
    padding-bottom: 8%;
}

#ann{
    padding-top: 0%;
    margin-top: 2%;
    font-size: 85%;
}

.trendings{
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    max-height: 30vh;
    max-width: 17.5vw;
    border-radius: 5%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px -2px rgba(153,153,153,1);
}

.differentuser{
    color: black;
    display: grid;
    grid-template-columns: 4vw 10vw;
    font-size: smaller;
}

.userinfo{
    display: grid;
    align-items: center;
    grid-template-rows: 4vh 7px;
    font-weight: bold;
}

p{
    font-family: Roboto;
    color: rgb(89, 89, 89);
    font-weight: normal;
}

.avatar{
    max-height: 5vh;
    padding-left: 15%;
    padding-top: 15%;
}