@font-face {
    font-family: 'NorseBold';
    src: url('Norse-Bold.otf') format('truetype');
}

body{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(32,32,32);
}

img{
    height: 100vh;
}

p{
    margin-bottom: 0px;   
}

label{
    color: rgb(208, 204, 177);
}

input{
    border: 1px solid rgb(187, 172, 86);
    background-color: rgb(15, 15, 15);
    color: rgb(187, 172, 86);
    border-radius: 5px;
}

input:focus{
    border: 3px solid rgb(52, 52, 99);
}

input:invalid{
    border: 1px solid rgb(91, 44, 44);
}

.left-img{
    height: 100vh;
}

.watermark{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'NorseBold';
    font-size: 500%;
    color: rgb(187, 172, 86);
    background-color: rgba(81, 73, 31, 0.5);
    position: absolute;
    top: 20%;
    min-width: 34.3%;
    min-height: 18%;
}

#odin-head{
    max-height: 15vh;
    margin-right: 2%;
}


.right{
    margin: 0px;
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 75vw;
}

.header{
    margin : 0px;
    height: 33vh;
}

.txt{
    padding-top: 6.5%;
    padding-bottom: 6%;
    font-size:medium;
    color: rgb(187, 172, 86);
}

.headtext{
    margin-top: 0px;
    max-width: 35vw;
    padding-left: 3%;
}

.h3{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.signup{
    height: 34vh;
    background-color: rgb(23, 23, 23);
    color: rgb(187, 172, 86);
    box-shadow: 10px 10px 10px rgb(28, 28, 28) ;
    margin-right: 0.2%;
}

.title{
    padding: 2%;
    padding-left: 3%;
    padding-bottom: 0%;
    font-size:x-large;
}

.fill-in{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    padding-bottom: 3%;
}

.form-divs{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-right: 25%;
}

.form-div{
    display: flex;
    flex-direction: column;
    padding-top: 7.5%;
}

#error{
    margin-top: 0%;
    color: rgb(91, 44, 44);
}
.bottom{    
    padding: 3%;
    padding-top: 3%;
    padding-bottom: 1.5%;
}

button{
    height: 5vh;
    width: 10vw;
    background-color: rgb(23,23,23);
    color: rgb(187, 172, 86);
    border-color: rgb(187, 172, 86);
    border-radius: 7px;
}

#plaintext{
    margin-top: 0%;
    color: rgb(187, 172, 86);   
    padding-left: 2.99%;
}

#link{
    color: rgb(81, 73, 31)
}